.navbar {
	background-color: #000;
	color: #fff;

	.main-heading {
		font-size: 90%;
	}
}

.content-wrapper {
	padding-top: 60px;

	.load-more {
		box-shadow: none;
		border-radius: 0;
		text-align: center;
		background-color: #fff;
		border: 1px solid #000;
		display: block;
		margin-top: 15px;
		padding: 10px;
		transition: .3s all ease-in;
		
		&:hover {
			background-color: #000;
			color: #fff;
		}
	}
}

.news-item {
	
	border-left: 2px solid black;
	padding: 5px;
	margin: 10px auto;
	display: block;
	color: #000;
	transition: .3s border ease-in;
	
	&:hover {
		border-left-width: 5px;
		text-decoration: none;
		color: #000;
	}

	article {
		
	}
	
	.item-title {
		font-size: 100%;
		margin-top: 0;
		margin-bottom: 5px;
		letter-spacing: 0.01em;

	}
}